:root,
body {
  font-family: "HelveticaNeue-CondensedBold", sans-serif !important;
}

/* // Parent */
.player-details {
  display: grid;
  justify-items: center;
  text-align: center;
}

.App {
  justify-content: center;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1119px;
  /* left: 100px; */
  right: 100px;
  margin-right: auto;
  margin-left: auto;
  /* grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: stretch;
  grid-template-areas:
    "Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar Navbar"
    ". . . Search Search Search Search . . ."
    ". . . . . . . . . ."
    ". Logos Logos Logos Logos Logos Logos Logos Logos ."
    ". Logos Logos Logos Logos Logos Logos Logos Logos ."
    ". Logos Logos Logos Logos Logos Logos Logos Logos ."
    ". Logos Logos Logos Logos Logos Logos Logos Logos ."
    ". Logos Logos Logos Logos Logos Logos Logos Logos ."
    ". . . . . . . . . ."
    ". . . Footer Footer Footer Footer . . ."; */
}

.navbar {
  /* justify-self: stretch; */
  grid-area: Navbar;
  text-align: center;
  height: 50px;
  /* width: 100%; */
  margin: 20px;
  font-weight: bold;
}

.search {
  grid-area: Search;
}

.logos {
  margin: 5px;
  /* display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-evenly;
  justify-items: stretch;
  grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . .";
  grid-area: Logos; */
}

.footer {
  /* justify-self: stretch; */
  grid-area: Footer;
  height: 100px;
  width: 100%;
}

.players-item {
  display: grid;
  justify-content: center;
  text-align: center;
}

.players-container {
  display: flex;
  /* justify-items: center; */
  /* text-align: center; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.details {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  text-align: center;
  grid-auto-columns: 1fr;
}

.player-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.comments {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  text-align: center;
}

.comment-boxes {
  display: flex;
  /* grid-template-columns: 3fr; */
  /* grid-auto-columns: 3fr; */
  /* justify-items: center; */
  text-align: center;
  flex-direction: column;
}

.comment-boxes .comment {
  height: 40px;
  width: 400px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
